$color--danger: #ED4C5C;
$color--success: #22D03E;
$color--primary: #6D5BD0;
$color--input-background: #F9F9F9;
$color--disabled: #ECECEC;
$color--placeholder-font: #BCBCBC;
$color--subtitle-font: #878B8F;
$color--table-font: #3C4448;
$color--white: #FFF;
$color--black: #000;
$color--font: #020202;
$color--active: #8A7CD9;
$color--primary-opacity: #6D5BD01A;
$color--table-row: #F6F2FA;
$color--white-non-visible: #fff0;
